* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Arial', sans-serif;
    background: url('https://www.example.com/air-conditioner-background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#c3e3f1;
}

.register-container {
    background:#f2f3f4;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.register-box {
    color: #111111;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #4a73b9;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a11cb;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #0f0d0d;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    color: #f1f1f1;
}
